body{
    background-color: #e6e6e6;
}

#title{
    font-family: 'Baloo Paaji', cursive;
}

@media(max-width:500px){
    body{
        display:block;
    }
    #timer{
        visibility:hidden;
    }
    #pomodoro.mdl-card{
        position:absolute;
        top: 20%;
        left: -80%;
        max-width:70%;
        box-shadow:none;
    }
    
    .linki{
        visibility:hidden;
    }
}

.timer{
    width:400px;
    height:400px;
    padding: 10px 10px;
    margin: 8% auto auto auto;
    background-color: white;
    border-radius:50%;
    border-style: solid;
    border-color: black;
}

#clock{
    font-size:70px;
    text-align:center;
    margin-left:55px;
    margin-top:40px;
}

.mdl-card{
    width:100%;
    max-width:330px;
    border-radius:210px 210px 0 0;
    margin-top:120px;
    text-align:center;
    margin-left:30em;
}
.mdl-card__title {
    height: 125px;
}
#title{
    position:relative;
    margin-top:40px;
    margin-left:30px;
    font-size:80px;
    text-align:center;
}

/* option button */
#vert-menu-button {
    top: 80px;
    left: 50px;
}

ul{
    margin-left:50px;
}

#choice_row{
    
    font-szie:12px;
    padding-bottom:25px
    
}

#choice_row button{
    min-width:25px;
}

#session-length{
    display:inline-block;
    width:20px;
    text-align:right;
}

#session{
    margin-left:10px;
    font-weight:bold;
}

.linki{
    position:absolute;
    padding-left:30em;
    margin-left:auto;
}

#time_sess{
    margin-left:10px
}

#switch-sound{
    margin-right:50px;
    padding-right:30px;
}

#sound{
    font-weight:bold;
}

#break_row{
    padding-bottom:25px;
}

.sound-row label{
    left:117px;
    top:7px;
}

#action_srt{
    padding-left:60px;
    margin-left:50px;
    padding-right:60px;
}

#action_stop{
    visibility:hidden;
}

#message{
    font-size:24px;
    margin-top:10em;
    margin-right:80px;
    display:none;
    font-weight:bold;
}




